/*pseudo-classe per gestire i link in generale*/
a:link{
   color: green;
   text-decoration: none; /*nessuna decorazione (es underline)*/
}
/*descrive com'è il link quando si clicca*/
a:active{
  color: blue;
}
/*descrive com'è il link quando il mouse ci passa sopra*/
a:hover{
  color: orange;
}
/*descrive com'è il link dopo che è stato visitato*/
a:visited{
  color: lightblue;
}

li{font-size: 135%;}
/*tutto ciò che appartiene alla classe 'peste' avrà sfondo_peste.png*/
.peste{
  background-image: url(Immagini/sfondo_peste.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0% 150%;
}
/*tutto ciò che appartiene alla classe 'coviddi' avrà sfondo_covid.png*/
.coviddi{
  background-image: url(Immagini/sfondo_covid.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0% 110px;
}
/*le ul avranno marcatore_liste.png come marcatore al posto del puntino di default*/
ul{
    list-style-image: url('Immagini/marcatore_liste.png');
}
